@font-face{
    font-family: Text;
    src: url(./font.woff2);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Text;
}

html,body{
    width: 100%;
    height: 100%;
}


                                            /* Nav Part starts */

.nav{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    background-color:#F8F8F8;
    border-bottom: 1px solid #e9e9e9;
}

.nav-left h1{
    font-size: 1.4vw;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.8vw 1vw;
    color: #393632;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    padding: 0.8vw 1vw;
    /* background-color: blue; */
}

.nav-right a{
    text-decoration: none;
    text-transform:uppercase;
    color: #393632;
    font-weight: 500;
}

                                    /* Nav Part ends here */

                                    /* Hero Section Starts */

                                    /* Hero-Left-Section */

.hero{
    width: 100%;
    height: 92vh;
    position: relative;
    padding: 0 3vw;
    display: flex;
    background-color:#F8F8F8;
}
.hero-left{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 2.9vw;
    /* background-color: rgba(0, 0, 255, 0.199); */
}
.hero-left-1st-sec{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:start;
    /* background-color: blanchedalmond; */
}
.head1{
    position: relative;
    overflow: hidden;
    /* background-color: #080807; */
}
.head2{
    position: relative;
    overflow: hidden;
    /* background-color: #080807; */
}
.hero-left-1st-sec h1{
    font-size: 6vw;
    text-transform: uppercase;
    line-height: 12vh;
    color: #393632;
    text-align: left;
}
.hero-left-2nd-sec{
    width: 100%;
    position: relative;
    /* background-color: rgba(255, 235, 205, 0.747); */
}
.hero-left-2nd-sec p{
    font-size: 1.6vw;
    font-weight: 500;
    color: #6B6456;
    line-height: 3.7vh;
}
.hero-left-3rd-sec{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    /* background-color: aqua; */
    gap: 1.6vw;
}
.hero-left-3rd-sec a{
    font-weight: 500;
    text-decoration: none;
    background-color: #080807;
    color: #F8F8F8;
    padding: 0.6vw 2.9vw;
    border: none;
    border-radius: 4px;
}
.hero-left-3rd-sec button{
    font-size: 1.1vw;
    font-weight: 600;
    background-color: #F8F8F8;
    color: #080807;
    padding: 0.6vw 2.9vw;
    border: 1px solid #080807;
    border-radius: 4px;
}

                                /* Hero-Left Section End */

                                /* Hero-Rigth section Starts */
.hero-right{
    height: 100%;
    width: 50%;
    position: relative;
    /* background-color: #080807; */
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1.4vw;
}
.image-sec{
    position: relative;
    /* background-color: #080807; */
}
.front-shape{
    width: 340px;
    height: 480px;
    border-radius: 150px;
    position: relative;
    overflow:hidden;
    z-index: 99;
}
.front-shape img{
    height: 100%;
    width: 100%;
    /* z-index: 1000; */
    object-fit:cover;
    object-position:-30px 0px;
    position:absolute;
}
.back-shape{
    width: 340px;
    height: 480px;
    border-radius: 150px;
    position: absolute;
    background-color: #393632a8;
    opacity: 0;
    top:55px;
    right:90px;
}
.social-media{
    display: flex;
    flex-direction: column;
    gap: 8vh;
    /* background-color: #393632; */
}
.social-media span i{
    font-size: 1.8vw;
    padding: 0.4vw 0.4vw;
    border:2px solid #393632;
    border-radius: 50px;
    box-shadow: 0 0 4px #6B6456;
}
.social-media span a{
    color: black;
}

                                /* Hero-Rigth Section Ends */

                                /* About-Section Starts */

                                /* About-left*/

.about{
    width: 100%;
    /* border-top-left-radius:25px ; */
    /* border-top-right-radius: 25px; */
    height: 105vh;
    padding: 0 3vw;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #080807;
    border-bottom: 1px solid #a29e9a;
}
.abt-1st-sec{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.abt-container-text-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.container-heading{
    width: 100%;
    position: relative;
    overflow: hidden;
    /* background-color: purple; */
}
.container-heading h1{
    font-size: 6.2vw;
    text-transform: uppercase;
    color: #D1D1C7;
}
.abt-container-text-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: plum; */
}
.container-paragraph{
    width: 100%;
    position: relative;
    padding-left:  1.2vw;
    /* background-color: peru; */
}
.container-paragraph p{
    font-size: 1.5vw;
    font-weight: 500;
    color: #A29E9A;
    line-height: 4.5vh;
}

                            /* About left ends */
                            /* About right starts */

.skill-1st-sec{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(17, 0, 255); */
}
.skill-container-text-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.skill-container-heading{
    width: 100%;
    height: 8.6vw;
    position: relative;
    overflow: hidden;
    /* background-color: red; */
}
.skill-container-heading h1:nth-child(1){
    top: 0;
}
.skill-container-heading h1{
    position: absolute;
    top: 100%;
    font-size: 6.2vw;
    text-transform: uppercase;
    color: #D1D1C7;
}
.skill-container-heading button{
    width: 5.6vw;
    height: 5.6vw;
    top: 14px;
    left: 500px;
    background-color: #080807;
    border: 2px solid #A29E9A;
    border-radius: 50px;
    padding: 0.8vw 0.8vw;
    position: absolute;
    cursor: pointer;
}
.skill-container-heading button i{
    font-size: 4vw;
    /* font-weight: bolder; */
    color:#A29E9A;
    transform: rotate(30deg);
}
.skill-container-text-right{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.3vw;
    /* background-color:aquamarine; */
}
.skill-container-wrapper{
    width: 100%;
    height: 8vw;
    position: relative;
    overflow: hidden;
    /* background-color: red; */
}
.skills{
    width: 100%;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.8w;
    position: absolute;
    padding-top: 1.2vw;
    top: 0;
    flex-wrap: wrap;
    /* background-color: purple; */
}
.allskill{
    font-size: 1.6vw;
    font-weight: 600;
    padding: 0.2vw 0.8vw;
    border: 1px solid #D1D1C7;
    border-radius: 50px;
    color: #A29E9A;
}
.education{
    width: 100%;
    height: 6vw;
    display: flex;
    position: absolute;
    top:100%;
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:0.6vw ;
    /* background-color: gold; */
}
.isc-section{
    width: 100%;
}
.isc-section p{
    font-size: 1.6vw;
    font-weight: 500;
    color: #A29E9A;
}
.icse-section{
    width: 100%;
}
.icse-section p{
    font-size: 1.6vw;
    font-weight: 500;
    color: #A29E9A;
}

                        /* About right Ends */

                        /* Services Section */

.services{
    height: 105vh;
    width: 100%;
    padding: 0 3vw;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    background-color: #080807;
}
.services-1st-section{
    height: 35%;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    /* background-color: red; */
}
.section-1st-left{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: yellow; */
}
.section-1st-left-heading{
    /* width: 100%; */
    position: relative;
    overflow: hidden;
    /* background-color: aqua; */
}
.section-1st-left-heading h1{
    font-size: 6.2vw;
    text-transform: uppercase;
    position: relative;
    color: #D1D1C7;
    /* background-color: pink; */
}
.section-1st-left-heading h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #D1D1C7;
    transition: all ease-in-out 0.6s;
}
.section-1st-left-heading h1:hover::after{
    width: 100%;
}

.section-1st-right{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: brown; */
}
.section-1st-right-paragraph{
    width: 100%;
    padding: 0 1.8vw;
    overflow: hidden;
    /* background-color: aquamarine; */
}
.section-1st-right-paragraph p{
    font-size: 1.5vw;
    font-weight: 500;
    color: #A29E9A;
    line-height: 4.5vh;
}
.services-2nd-section{
    height: 65%;
    width: 100%;
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* background-color: violet; */
}
.service-container-wrapper{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items:start;
    justify-content: center;
    gap: 4vw;
}
.service-container-one{
    width: 26vw;
    height: 28vw;
    position: relative;
    padding: 1.8vw 1vw;
    border-radius: 20px;
    border: 2px solid rgb(233, 233, 233,.5);
    border-right: 2px solid rgb(233, 233, 233,.3);
    border-bottom: 2px solid rgb(233, 233, 233,.3);
    gap: 0.8vw;
    backdrop-filter: blur(6px);
    z-index: 99;
    display: flex;
    flex-direction: column;
    background-color: #08080780;
}
.development-icon{
    width: 100%;
    text-align: center;
    /* background-color: red; */
}
.development-icon i{
    font-size: 2.8vw;
    color: #D1D1C7;
}
.development-heading{
    width: 100%;
    text-align: center;
    /* background-color: blue; */
}
.development-heading h6{
    font-size: 2.2vw;
    color: #D1D1C7;
}
.development-description{
    width: 100%;
    text-align: center;
}
.development-description p{
    font-size: 1.4vw;
    color: #A29E9A;
}
.more-classification{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.more-sec-one{
    /* background-color: pink; */
    margin-top: 0.8vw;
}
.more-sec-one li{
    /* background-color: blue; */
    display: inline-block;
    font-size: 1.4vw;
    font-weight: 400;
    color: #A29E9A;
}
.more-sec-one li:nth-child(1){
    margin-right: 1vw;
    margin-left: 0.8vw;
}
.more-sec-two{
    /* background-color: blue; */
    margin-top: 1vw;
}
.more-sec-two li{
    display: inline-block;
    font-size: 1.4vw;
    font-weight: 400;
    color: #A29E9A;
}

.more-classification-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.more-sec-two-one{
    /* background-color: pink; */
    margin-top: 0.8vw;
}
.more-sec-two-one li{
    /* background-color: blue; */
    display: inline-block;
    font-size: 1.4vw;
    font-weight: 400;
    color: #A29E9A;
}
.more-sec-two-one li:nth-child(1){
    margin-right: 1vw;
    margin-left: 0.8vw;
}
.more-sec-two-two{
    /* background-color: blue; */
    margin-top: 1vw;
}
.more-sec-two-two li{
    display: inline-block;
    font-size: 1.4vw;
    font-weight: 400;
    color: #A29E9A;
}


.service-container-two{
    width: 26vw;
    height: 28vw;
    position: relative;
    padding: 1.8vw 1vw;
    gap: 0.8vw;
    border-radius: 20px;
    backdrop-filter: blur(6px);
    border: 2px solid rgb(233, 233, 233,.5);
    border-left: 2px solid rgb(233, 233, 233,.3);
    border-bottom: 2px solid rgb(233, 233, 233,.3);
    z-index: 99;
    display: flex;
    flex-direction: column;
    background-color: #08080780;
}
.development-icon-two{
    width: 100%;
    text-align: center;
    /* background-color: red; */
}
.development-icon-two i{
    font-size: 2.8vw;
    color: #D1D1C7;
}
.development-heading-two{
    width: 100%;
    text-align: center;
    /* background-color: blue; */
}
.development-heading-two h6{
    font-size: 2.2vw;
    text-transform: uppercase;
    color: #D1D1C7;
}
.development-description-two{
    width: 100%;
    text-align: center;
}
.development-description-two p{
    font-size: 1.4vw;
    color: #A29E9A;
}
.service-quotes-one{
    position:absolute;
    top: 25%;
    left: 10%;
}
.service-quotes-one i{
    font-size: 10vw;
    color:rgb(57, 54, 50);
    opacity: 0.5;
}
.service-quotes-two{
    position:absolute;
    top: 80%;
    right: 10%;
}
.service-quotes-two i{
    font-size: 10vw;
    color:#393632;
    opacity: 0.5;
}